header, footer, nav, article {
	display: block;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'PT Sans', sans-serif;
}

.wrapper {
	width: calc(100% - 208px);	
	float: right;
	margin: 0 auto;	
}

header {
	border-bottom: 5px solid #222222;
	padding: 16px 0px;
	height: 60px;
}

header, header a {
	color: #959595;
	font-size: 14px;
}

header a:hover {
	text-decoration: none;
	border-bottom: 1px dashed;
	color: #000000;
}

header a:first-child:after {
	content:" /";	
	border-bottom: none;
}

header .login {
	float: right;
}

section img {
	width: 100%;
	
}
.events img {
	max-width: 284px;
}

.main-event  {
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid #E7E7E7;
}

.main-event h1 {
	font-size: 37px;
	font-weight: 900;
	margin-bottom: 0; 
}

.main-event h1+p {
	color: #959595;
}

.main-event .data {
	line-height: 17px;	
}

.more {
	color: #CC3333;
}

.main-event .pluso {
	margin-top: 128px;
}

.events img {
	width: 100%; 
}

.events img {
	height: 204px;
}

.events h2 {
	font-size: 24px;
	font-weight: 900;	
	margin: 12px 0px 0px 0px;
}

.events h2+p {
	color: #959595;	
}

.text {
	overflow: hidden;
	line-height: 17px;
}

.events article {
	margin-bottom: 20px;
}

footer {
	background-color: #051515;
	margin-top: 20px;
}

.footer-menu {	
	position: relative;
	overflow:hidden;
	height:40px;
	
}
.footer-menu {		
	padding:0;	
	text-align: center;
	margin: 0 auto;
	height:40px;	
}

.footer-menu  a {
	color: #959595;	
	text-decoration:none;
	padding:0 15px;
	line-height: 40px;
	font-weight: 600;
}

.footer-menu ul li a:hover {
	background-color:#666; 
}

footer .copyright {
	color: #303838;
}

aside {
	width: 208px;		
	background-color: #222222;
}

aside img {
	border: 2px solid #fff;
	border-radius: 4px;
	margin: 13px 17px;	
}

.nav>li>a {
	color: #fff;
	font-weight: 900;	
}

.nav>li>a:hover {
	color: #CC3333;	
}

.nav>li>a:hover {
	background-color: #222222;
}

.navbar-inverse {    
    border-radius: 0;
}

.main-nav {	
	border-bottom: 1px solid #353535; 	
}

.main-nav, .second-nav {
	padding-bottom: 20px;
	padding-top: 15px;
}

.second-nav li a{
	color: #959595;
	font-weight: 200;	
}

.input-group {	
	margin: 20px;
}

.input-group .btn, .form-control {
	background-color: #222222;
	color: #626262;
	border: 1px solid #353535; 
	height: 30px;
}

@media (max-width: 767px) {
	.nav>li {
		float: none;
	}

	.nav {
		text-align: center;		
	}

	.header h1 { 
	    font-size: 280%;
	    letter-spacing: 5px;
	}

	.header {
		text-align: center;
	}

	aside {
		position: absolute;		
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;

	}

	.wrapper {
		margin-top: 100px;
		float: none;
		width: 100%;
	}
	


} 
@media (max-width: 1100px) {
	.footer-menu a {
		font-size: 80%;
		padding: 0;
	}
}